@import 'tailwindcss';
/* support v3 plugins */
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

/* support dark mode class toggle */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));
  --background-image-gradient-conic: conic-gradient(
    from 180deg at 50% 50%,
    var(--tw-gradient-stops)
  );
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  Buttons now use `cursor: default` instead of `cursor: pointer` to match the default browser behavior.

  If we ever want to remove these styles, we need to add an explicit border
  color and/or cursor utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}


/* custom styles */

.galaxy-bg {
  position: relative;
  width: 100%;
  /*height: 100%;*/
  background: linear-gradient( -45deg,#FFBF00,#F53BAD,#03B6FC,#18D256);
  background-size: 200% 100%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%
  }

  50% {
      background-position: 100% 50%
  }

  100% {
      background-position: 0% 50%
  }
}